streamlit==1.41.1

# Core
numpy==1.23.5
pandas==2.2.3
pillow==10.2.0

# TensorFlow untuk Python 3.10 + h5
tensorflow-cpu==2.11.0
keras==2.11.0
h5py==3.7.0

# Dependencies kompatibel
protobuf==3.20.3
gast==0.4.0
opt_einsum==3.3.0
google-pasta==0.2.0
flatbuffers==2.0
wrapt==1.14.1

# Misc
requests==2.32.3
